
/*  =====  LAYOUT  ====  */

* { box-sizing: border-box; }

body {
	background: linear-gradient(to bottom, #544759 0%, #9b8d8a 50%, #9b8d8a 53%, #544759 100%);
	padding-top: 10px;
}



/*  =====  CONTENT  ====  */

.container {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	clear: both;
}

#header {
	background: rgba(255, 255, 255, 0.8);
  background: #2a292c;
	margin-bottom: 30px;
	width: 100%;
	z-index: 100;
	overflow:auto;
}

#my-name {
	width: 250px;
	font-family: font1-bold;
	font-size: 30px;
	color:#898989;
	line-height: 40px;
	text-align: center;
	text-decoration: none;
	float: left;
}

nav {
	margin: 31px 22px 0px 0px;
	float: right;
}

nav a {
	border-left: 1px solid #898989;
	color: #898989;
	line-height: 18px;
	margin-left: 15px;
	padding-left: 15px;
	text-decoration: none;
	display: inline-block;
}

nav a:first-child { border-left: none; }

.main-content {
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 10px;
	margin-bottom: 20px;
	padding: 30px;
	width: 650px;
	float:left;
}

.profile-image {
	width: 200px; height: auto;
  border-radius: 5px;
  margin: 10px 0px 0px 25px;
  -webkit-transform: scaleX(-1);
  float: right;
}



/*  =====  TEXT  ====  */

h1, h2 {
	font-family: font1-bold;
	font-size: 2.0em;
	color: #554b5a;
}

h1 {
	border-bottom: 2px solid #aaaaaa;
	line-height: 50px;
	padding-bottom: 20px;
}

h2 { font-size: 22px; }

p {
	font-family: font1-roman;
	font-size: 1em;
	color: #595959;
	line-height: 1.5em;
	margin-top: 10px;
	text-align: justify;
}



/*  Sidebar  */

.sidebar{
	background: rgba(255, 255, 255, 0.6);
	border-radius: 10px;
	margin-bottom: 20px;
	padding: 30px;
	width: 270px;
	float: right;
}

.sidebar h2 {
	border-bottom: 2px solid #898989;
	padding-bottom: 20px;
	margin-bottom: 15px;
	line-height: 22px;
}

.sidebar-image {
  margin: 12px 40px 12px;
  width: 128px;
}

#linkedin-logo.sidebar-image {
  margin-top: 10px;
  margin-bottom: 3px;
  margin-left: 50px;
}

#github-logo.sidebar-image, #ko-logo.sidebar-image {
  margin-top: 26px;
}


/*  =====  PORTFOLIO PAGE  =====  */

.project {
	width: 274px;
	margin: 20px 0 25px;
	overflow: auto;
	position: relative;
	float: left;
}

.project:nth-child(even) { margin-right: 40px; }

.project img { width: 100%; }

.project h3 {
	position: absolute; 	bottom: 10px;
	border-bottom: 0;
	background: rgba(255, 255, 255, 0.8);
	color: #554b5a;
	line-height: 30px;
	margin-bottom: 0;
	padding: 0px;
	width: 100%;
	text-align: center;
}



/*  =====  CONTACT PAGE =====  */

#contact ul { margin: 10px 0px; }

#contact li { margin-bottom: 10px; }

label, input[type=text], input[type=email], textarea {
	display: block;
	width: 100%;
}

input[type=text], input[type=email], textarea {
	border: 1px solid #898989;
	height: 35px;
	padding: 0px 10px;
	font-size: 14px;
}

input[type=submit] {
  background: #2a292c;
	border: 0 none;
	color: #898989;
	font-size: 18px;
	padding: 10px 30px;
	cursor: pointer;
}

textarea { height: 200px; }



/*  =====  MEDIA QUERIES  =====  */

@media screen and (max-width:980px) {
	.container{ max-width: 735px; }

	.main-content{ max-width: 450px; }

	.profile-image, .project{ 	width: 100%; }
}

@media screen and (max-width:768px) {
	.container { max-width: 720px; }

	.sidebar { width: 100%; }

	.main-content {
  	  max-width: 720px;
		width: 100%;
	}

	.bio-image { width:175px; }

  .project { width: 308px; }
}


@media screen and (max-width:640px) {
	#head-container{
		position: static;
		margin-bottom: 0px;
	}

	#label { width:100%;	 }

	#outer-container, #connect {
		max-width: 600px;
		padding-top: 20px;
	}

	.profile-image { width:100%; }

	.project { width: 100%; }
	
	nav {
		margin-top: 0px;
		padding: 15px;
		float:left;
	}

	nav a { padding: 0 65px; }
}
